* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

#slide1:checked ~ .slides .slide {
  transform: translateX(0);
}

#slide2:checked ~ .slides .slide {
  transform: translateX(-80vw);
}

#slide3:checked ~ .slides .slide {
  transform: translateX(-160vw);
}

#slide4:checked ~ .slides .slide {
  transform: translateX(-240vw);
}

#slide1:checked ~ .slides-text .slides-text__text {
  transform: translateX(0);
}

#slide2:checked ~ .slides-text .slides-text__text {
  transform: translateX(-50vw);
}

#slide3:checked ~ .slides-text .slides-text__text {
  transform: translateX(-100vw);
}

#slide4:checked ~ .slides-text .slides-text__text {
  transform: translateX(-150vw);
}

.slides {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

.slide {
  transition: 1s;
}

.slide__img {
  width: 80vw;
  height: 60vw;
  object-fit: cover;
  object-position: center center;
}

.slides-text {
  width: 50vw;
  display: flex;
  overflow: hidden;
}

.slides-text__text {
  width: 50vw;
  flex-shrink: 0;
  transition: 1s;
}

